# DaTA Structrue

1- list 
2- set 
3- dict
4- Tuple

In [2]:
ls = [123,456]
ls[0]

123

In [4]:
d = {"name":"Mohamed"}
d["name"]

'Mohamed'

In [5]:
t = (1,2,3,4)
t[1]

2

In [6]:
s = {1,2,3,4,5,6}
s[1]

TypeError: 'set' object is not subscriptable

In [9]:
ls1= [1,1,1,1,1,1,2,3,4]
list(set(ls1))

[1, 2, 3, 4]

In [11]:
l = [] #empty list 
l1= [1,10.5,"Mohamed",True]
l2= list({1,2,3,4,5,6})

In [12]:
len(l)

0

In [29]:
l.append(7)  # Add value at the end of the list 
l

[5, 6, 7]

In [18]:
l.insert(0,1)
l

[1, 1, 5, 5, 6]

In [26]:
l.remove(5)

In [36]:
l.pop(-1)

[1, 10.5, 'Mohamed', True]

In [37]:
l + l1

[6, 7, 1, 10.5, 'Mohamed', True]

In [39]:
l.extend(l1)

In [41]:
l.index("Mohamed")

4

In [45]:
l.append(1)

In [51]:
l.count(1)

5

In [54]:
l.remove("Mohamed")

In [52]:
l

[6, 7, 10.5, 'Mohamed', True, 1, 1, 1, 1]

In [57]:
l.sort(reverse=True)
l

[10.5, 7, 6, True, 1, 1, 1, 1]

In [67]:
l.sort(reverse=True)
l

[10.5, 7, 6, True, 1, 1, 1, 1]

In [73]:
sorted_list=sorted(l)

In [74]:
sorted_list

[True, 1, 1, 1, 1, 6, 7, 10.5]

In [76]:
l.clear()

In [77]:
l

[]

In [78]:
list_1 = [1,0,2,0,4,0,6]
list_1.sort(reverse=True)

In [80]:
list_1

[6, 4, 2, 1, 0, 0, 0]

In [88]:
list_2 = [1,0,2,0,4,0,6]

for x in list_2 :
    if x == 0 :
        list_2.remove(x)
        list_2.append(x)

In [87]:
list_2

[1, 2, 4, 6, 0, 0, 0]

In [91]:
x = 1 
while x < 100 :
    x *= 2 
    print(x)
#print(x)

# 100 
# 2 > Amira 
# 1 
# 128

2
4
8
16
32
64
128

In [94]:
x = 2 
y = "2" 

x*y

'22'

In [98]:
newl = []
for i in list_2 :
    newl.append(i*2)

In [99]:
newl

[2, 4, 8, 12, 0, 0, 0]

In [101]:
newl_2 = [i*2 for i in list_2]
newl_2

[2, 4, 8, 12, 0, 0, 0]

In [107]:
my_set = {1,2,3,4,5}
my_set.add(10)
my_set

{1, 2, 3, 4, 5, 10}

In [108]:
my_set.remove(2)
my_set

{1, 3, 4, 5, 10}

In [112]:
my_set.pop()

4

In [114]:
my_dictionary =	{"knowledge": "Data Science","tool": "python","year": 2020}

for key in my_dictionary.keys():
    print(key)

knowledge
tool
year

In [116]:
for value in my_dictionary.values():
    print(value)

Data Science
python
2020

In [118]:
for i in my_dictionary.items():
    for x in i :
        print(x)

knowledge
Data Science
tool
python
year
2020

In [119]:
my_dictionary["test"] = 50

In [122]:
my_dictionary.pop("test")

50

In [123]:
my_dictionary

{'knowledge': 'Data Science', 'tool': 'python', 'year': 2020}

In [124]:
del my_dictionary

In [125]:
my_dictionary

NameError: name 'my_dictionary' is not defined

In [129]:
my_tuple=("python", "java", "R")
tuple1 = ("a", "b" , "c")
my_tuple_2 = my_tuple + tuple1

In [130]:
my_tuple_2

('python', 'java', 'R', 'a', 'b', 'c')

In [131]:
t = (5,1,2,58,8)
t.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [132]:
sorted(t)

[1, 2, 5, 8, 58]

Given an integer array nums, return true if any value appears at least twice in the array, and return false if every element is distinct.

Example 1:
Input: nums = [1,2,3,1] Output: true

In [134]:
nums = [1,2,3,1]
len(set(nums))!=len(nums)

True

Given an array nums. We define a running sum of an array as runningSum[i] = sum(nums[0]…nums[i]).

Return the running sum of nums.

Example 1:

Input: nums = [1,2,3,4]
Output: [1,3,6,10]
Explanation: Running sum is obtained as follows: [1, 1+2, 1+2+3, 1+2+3+4].

In [139]:
nums = [1,2,3,4]
l = []
for i in range(0,len(nums)) :
    print(nums[:i+1])
    l.append(sum(nums[:i+1]))
l

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]

[1, 3, 6, 10]

Given an integer n, return a string array answer (1-indexed) where:

answer[i] == "FizzBuzz" if i is divisible by 3 and 5.
answer[i] == "Fizz" if i is divisible by 3.
answer[i] == "Buzz" if i is divisible by 5.
answer[i] == i (as a string) if none of the above conditions are true.
Example 1:

Input: n = 3
Output: ["1","2","Fizz"]

In [140]:
n = 9
lis = [1,2,3,4,5,6,7,8,9]
newlis=[]
for i in lis:
    if i % 5 ==0 and i % 3 == 0:
        newlis.append("Fizzbuzz")
    elif i % 3 == 0:
        newlis.append("Fizz")
    elif i % 5 == 0:
        newlis.append("Buzz")
    else: newlis.append(str(i))

In [141]:
newlis

['1', '2', 'Fizz', '4', 'Buzz', 'Fizz', '7', '8', 'Fizz']

You are given an m x n integer grid accounts where accounts[i][j] is the amount of money the i​​​​​​​​​​​th​​​​ customer has in the j​​​​​​​​​​​th​​​​ bank. Return the wealth that the richest customer has.

A customer's wealth is the amount of money they have in all their bank accounts. The richest customer is the customer that has the maximum wealth.

Example 1:

Input: accounts = [[1,2,3],[3,2,1]]
Output: 6
Explanation:
1st customer has wealth = 1 + 2 + 3 = 6
2nd customer has wealth = 3 + 2 + 1 = 6
Both customers are considered the richest with a wealth of 6 each, so return 6.

In [144]:
 accounts = [[1,2,3,6],[3,2,1,5]]
 richest = 0
 for i in accounts :
     if sum(i) > richest :
        richest = sum(i)
print(richest)

12

In [145]:
len(l)

4

In [146]:
l

[1, 3, 6, 10]

In [148]:
Length = 0 
for i in l :
    Length += 1
Length

4

In [166]:
def greeting(age ,name="GUEST" ):
    return f"Hello {name} , Welcome To Python , You were born on {2024-age}"
    print("Hellooooooooo")

In [167]:
greeting(name = "Nadim" , age = 25)

'Hello Nadim , Welcome To Python , You were born on 1999'

In [153]:
def summ ():
    x = int(input("ay 7aga"))
    y = int(input("ay 7aga 2"))
    print(x+y)

In [155]:
summ()

10

In [168]:
def calculator (x , y , op) :
    if op == "+" :
        return x + y
    elif op == "-":
        return x - y

In [8]:
history = []

def add (x,y):
    result = x + y 
    history.append(f"add({x},{y} = {result})")
    return result
def subtract(x,y):
    result = x - y 
    history.append(f"Suntract({x},{y} = {result})")
    return result
def multiply (x,y):
    result = x * y 
    history.append(f"Multiply({x},{y} = {result})")
    return result
def divide(x,y):
    result = x / y 
    history.append(f"Divide({x},{y} = {result})")
    return result
def get_history():
    return history

def clear_history():
    global history
    history = []

In [14]:
clear_history()

In [15]:
get_history()

[]

In [1]:
x = 10
def p ():
    x = 5
    print(x)

In [2]:
print(x)

10

In [3]:
p()

5

In [21]:
sub_li = [['rishav', 10], ['akash', 5], ['ram', 20], ['gaurav', 15]]

In [23]:
def Sort (li):
    l = len(li)
    for i in range (0,l):
        for j in range (0 , l-i-1):
            if (li[j][1] > li[j+1][1]):
                temp_j = li[j] 
                li[j] = li[j+1]
                li[j+1] = temp_j 
    return li

In [24]:
Sort(sub_li)

[['akash', 5], ['rishav', 10], ['gaurav', 15], ['ram', 20]]

In [30]:
 l = [('At', 85), ('Br', 35), ('Cl', 17), ('F', 9), ('I', 53),('Cl', 17)]

In [32]:
sorted(list(set(l)), key = lambda x : x[1] )

[('F', 9), ('Cl', 17), ('Br', 35), ('I', 53), ('At', 85)]

In [27]:
list(set(l))

[('At', 85), ('I', 53), ('F', 9), ('Br', 35), ('Cl', 17), 'A']