# Which one of the following if statements will not execute successfully:

In [50]:

if (1, 2):print('foo')

foo

In [44]:
if (1, 2):
                print('foo')

foo

In [51]:
if (1, 2):

    print('foo')

foo

In [49]:
if (1, 2): print('foo')

foo

In [43]:
if (1, 2):
    print('foo')

foo

# Given the nested if-else structure below, what will be the value of x after code execution completes

In [52]:
x = 0
a = 0
b = -5
if a > 0:
    if b < 0: 
        x = x + 5 
    elif a > 5:
        x = x + 4
    else:
        x = x + 3
else:
    x = x + 2
print(x)

2

# What is the value of x after the following nested for loop completes its execution

In [65]:
x = 0
for i in range(1):
  for j in range(-1, -10, -1):
    j += 1
    print(j)

0
-1
-2
-3
-4
-5
-6
-7
-8

In [53]:
range(10)

range(0, 10)

In [56]:
for i in range(0 , 10 , 1 ) :
    print(i)

0
1
2
3
4
5
6
7
8
9

In [60]:
for j in range(-1, -10, -1):
    print(j)

-1
-2
-3
-4
-5
-6
-7
-8
-9

In [2]:
x = ""
bool(x)

False

In [3]:
z= -6

In [4]:
bool(z)

True

In [5]:
s = "mohamed"

In [6]:
s.upper()

'MOHAMED'

In [7]:
s.lower()

'mohamed'

In [33]:
name = input("What`s ur\t\t\t\t\tname ?\n")

What`s ur					name ?
 mohamed,nadim,amira

In [20]:
if isinstance(s , str) :
    print("Hello")

Hello

In [13]:
isinstance?

Signature: isinstance(obj, class_or_tuple, /)
Docstring:
Return whether an object is an instance of a class or of a subclass thereof.

A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
or ...`` etc.
Type:      builtin_function_or_method

In [12]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [21]:
s.isupper()

False

In [22]:
s.islower()

True

In [24]:
name

'mohamed'

In [26]:
len(name)  # len = index + 1

7

In [27]:
list(name)

['m', 'o', 'h', 'a', 'm', 'e', 'd']

In [29]:
name[7]

IndexError: string index out of range

In [35]:
name.split(",")

['mohamed', 'nadim', 'amira']

In [32]:
name.split?

Signature: name.split(sep=None, maxsplit=-1)
Docstring:
Return a list of the substrings in the string, using sep as the separator string.

  sep
    The separator used to split the string.

    When set to None (the default value), will split on any whitespace
    character (including \n \r \t \f and spaces) and will discard
    empty strings from the result.
  maxsplit
    Maximum number of splits (starting from the left).
    -1 (the default value) means no limit.

Note, str.split() is mainly useful for data that has been intentionally
delimited.  With natural text that includes punctuation, consider using
the regular expression module.
Type:      builtin_function_or_method

In [42]:
name.replace(",","")

'mohamednadimamira'

In [37]:
name

'mohamed,nadim,amira'

In [39]:
name.replace?

Signature: name.replace(old, new, count=-1, /)
Docstring:
Return a copy with all occurrences of substring old replaced by new.

  count
    Maximum number of occurrences to replace.
    -1 (the default value) means replace all occurrences.

If the optional argument count is given, only the first count occurrences are
replaced.
Type:      builtin_function_or_method

1 - user input 
2 - if condition
3 - modulus %

In [79]:
num = int(float(input("Enter a nuumber..")))
if num % 2 == 0:
    print("even")
elif num % 2 == 1 :
    print("odd")
else :
    print("please enter a valid number")

Enter a nuumber.. 10.7

even

In [81]:
float('10')

10.0

In [77]:
input?

Signature: input(prompt='')
Docstring:
Forward raw_input to frontends

Raises
------
StdinNotImplementedError if active frontend doesn't support stdin.
File:      c:\users\moham\anaconda3\lib\site-packages\ipykernel\kernelbase.py
Type:      method

In [86]:
num = int(input("Enter a nuumber.."))
x = int(num / 2)
if isinstance(x , float):
    print("odd")
elif isinstance(x , int):
    print("even")

Enter a nuumber.. 5

even

# Write a Python program that checks if a given year is a leap year or not. A leap year is divisible by 4, except for years divisible by 100 but not divisible by 400.

1 - user input 
2 - if condition 
3 - leap year year % 4 == 0 and year % 100 != 0 or year % 400 ==0

In [89]:
year = int(input("please enter the year "))
if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0 :
    print(f"{year} is a Leap year")
else :
    print(f"{year} is not a Leap year")

please enter the year  1900

1900 is not a Leap year

# Create a basic ATM machine program that allows users to check their account balance and withdraw funds. You can set an initial account balance and then deduct the withdrawn amount.

1 - user input to select what to do 
2- if request show balance > input balance 
3- print balance 
4 - would you like to continue > if yes > step 2 * input for withdraw * > else > see you later 
5 - print new balance

1- welcome message 
2 - balance = 5000 
3- 2 options 
4 - . lower 
5- if var == balance > print accont balance 
6- if var == withdraw 
7- else > please write balance or withdraw

In [101]:
balance = 5000 
print("Welcome to ay 7aga ")
options = int(input("please select an Option from below\n 1- check balance\n 2- withdraw\n"))
if options == 1 :
    print(f"Your Available balance is {balance} EGP")
elif options == 2 :
    amount = float(input("please enter the amount you want to withdraw"))
    if amount <= balance:
        balance -= amount
        print(f"withdrawn {amount} EGP , your available balance is {balance} EGP")
    else :
        print(f"ERROR! \nwithdrawn {amount} EGP , your available balance is {balance} EGP")
        
    
else : 
    print("please select a valid option")

Welcome to ay 7aga

please select an Option from below
 1- check balance
 2- withdraw
 1

Your Available balance is 5000 EGP

# for loop

In [102]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [106]:
s = "Nadim"
for i in s:
    print(i)

N
a
d
i
m

# Let’s write a program to find the largest number in a list of integers.

In [113]:
num = [50,100,156,321,465,1,2,3,4]
x = 0
for i in num :
    if i > x :
        x = i
print(x)

465

In [109]:
max(num)

465

# Let’s use a for-loop to print the multiplication table for a given number in Python. The below code will print the multiplication table for the number 7.

In [115]:
for i in range(13):
    print(f" 7 x {i} = {i * 7}")

 7 x 0 = 0
 7 x 1 = 7
 7 x 2 = 14
 7 x 3 = 21
 7 x 4 = 28
 7 x 5 = 35
 7 x 6 = 42
 7 x 7 = 49
 7 x 8 = 56
 7 x 9 = 63
 7 x 10 = 70
 7 x 11 = 77
 7 x 12 = 84

In [125]:
num = int(input("please enter a number"))
factorial = 1
for i in range (1,num+1):
    factorial *= i
    print(factorial)

please enter a number 5

1
2
6
24
120

# While Loop

In [122]:
num = int(input("please enter a number"))
fact = 1
while num > 0:
    fact *= num 
    num -= 1
print(fact)

please enter a number 5

120

# This special Python exercise code prints a triangle pattern of stars with a user-specified number of rows using a while loop.

In [129]:
num = int(input("please enter a number"))
row = num
while True :
    print("*" * row)
    row -= 1
    if row == 0 :
        break

please enter a number 10

**********
*********
********
*******
******
*****
****
***
**
*

# chrithmas tree

In [130]:
num = 3
for i in range(1, num+1):
    print(" "*(2*num-i+3), end="")
    for j in range(1, i+1):
        print("*", end=" ")
    print()
 
for i in range(1, num+3):
    print(" "*(2*num-i+1), end="")
    for j in range(-1, i+1):
        print("*", end=" ")
    print()
 
for i in range(1, num+5):
    print(" "*(2*num-i), end="")
    for j in range(-2, i+1):
        print("*", end=" ")
    print()
 
for i in range(1, num+3):
    print(" "*((2*num)), end="")
    print("* "*3)

        *
       * *
      * * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *
* * * * * * * * * *
      * * *
      * * *
      * * *
      * * *
      * * *

In [167]:
# list 
l = [1,2,3,4,5,6,"asd" , True , 10.5 , 1,2,3,4]
l[-1] = "amira"
l2 = [1,2,3,4]
print(l+l2)

[1, 2, 3, 4, 5, 6, 'asd', True, 10.5, 1, 2, 3, 'amira', 1, 2, 3, 4]

In [153]:
# tuple 
t = (1,2,3,4)
t1 = (1,2,3)
t + t1

(1, 2, 3, 4, 1, 2, 3)

In [170]:
l

[1, 2, 3, 4, 5, 6, 'asd', True, 10.5, 1, 2, 3, 'amira']

In [169]:
# set 
s = {1,2,3,4,5,"str", 10.5}
s1 = {1,2,3,4,5}
s.add(3)
set(l)

{1, 10.5, 2, 3, 4, 5, 6, 'amira', 'asd'}

In [180]:
# dict 
d = {"name" : "Mohamed" , "age" : 20}

In [185]:
d["name"] = ['mohamed' , 'nadim' , 'amira']
d["name"][1]

'nadim'

In [137]:
name = "mohamed"

In [138]:
name[1]

'o'