In [1]:
def summ (x,y):
    return x + y

In [4]:
summ(3,2)

5

In [5]:
l = [1,5,2454,8,9,456,4,63,13]

In [7]:
def find_max (l):
    return max(l)

find_max(l)

2454

given a string S 
reverse S
ex : hello > olleh

In [18]:
def reverse_string(s):
    return s[::-1]

reverse_string("Hello")

'olleH'

In [21]:
def pal(s):
    return s == s[::-1]

pal("anna")

True

In [36]:
l = [1,5,2454,8,9,456,4,63,13]

# output = [0,4] if target = 10
def two_sum (nums,target):
    num_map = {}
    for i , n in enumerate(l):
        comp = target - n
        print(i,comp)
        print(i,num_map)
        if comp in num_map :
            print("!!!" ,num_map[comp],i)
            return [num_map[comp] , i] 
        num_map[n] = i
        print("***" , num_map[n])
    return []

In [37]:
two_sum( l , 10 )

0 9
0 {}
*** 0
1 5
1 {1: 0}
*** 1
2 -2444
2 {1: 0, 5: 1}
*** 2
3 2
3 {1: 0, 5: 1, 2454: 2}
*** 3
4 1
4 {1: 0, 5: 1, 2454: 2, 8: 3}
!!! 0 4

[0, 4]

In [24]:
l = [1,5,2454,8,9,456,4,63,13]
for i , n in enumerate(l):
    print(i,n)

0 1
1 5
2 2454
3 8
4 9
5 456
6 4
7 63
8 13

In [39]:
# def reverse_string(s):
#     return s[::-1]

# reverse_string("Hello")

In [40]:
reverse_string = lambda s : s[::-1] 
reverse_string("hello")

'olleh'

In [41]:
calc = lambda x,y,z : x+y*z

In [42]:
calc(2,3,4)

14

In [ ]:
# normal Functiuon > def function name (argument) :
#     exprissions 
    
# lambda > function name = lambda argument : expression

In [45]:
test = lambda x : 5 if x > 10 else 0 
test(9)

0

In [47]:
fruit=('apple', 'banana', 'cherry')
length = []
for i in fruit :
    print(len(i))
    length.append(len(i))

5
6
6

In [51]:
length = list(map(len,fruit))
length

[5, 6, 6]

In [60]:
def summ (l,*n):
    print (sum(n))
    print(f"Hello {l}")

In [62]:
summ("Mohamed",1,2,3,4,5,6,7,8,9,7,5,10)

67
Hello Mohamed

In [70]:
name = "mohamed"
name.upper()

'MOHAMED'

In [76]:
class Car :
    def __init__ (self ,make , model , year):
        self.make = make
        self.model = model 
        self.year = year 
        self.miles = 0
        
    def describe_car(self):
        return f"This Car made by {self.make} , model is {self.model} , {self.year}"
    def add_miles(self,mille):
        return self.miles + mille

In [78]:
my_car = Car("Toyota" , "Corolla" , 2024)
nadim_car = Car("Mitsubishi", "Lancer" , 2020)

In [74]:
my_car.describe_car()

'This Car made by Toyota , model is Corolla , 2024'

In [79]:
my_car.add_miles(50)

50

In [80]:
class Person:
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender

    def introduce(self):
        return f"Hi, my name is {self.name}, I'm {self.age} years old."

    def __str__(self):
        return f"Person(name={self.name}, age={self.age}, gender={self.gender})"

In [88]:
class Student (Person) :
    def __init__ (self,name,age,gender,student_id):
        super().__init__(name,age,gender)
        self.student_id = student_id
        
    def study(self,subject):
        return f"{self.name} with {self.student_id} : is studying {subject}"

In [83]:
person = Person("Nadim" , 25 , "Male")
person.introduce()
person.study("Python")

AttributeError: 'Person' object has no attribute 'study'

In [96]:
student = Student("Mohamed" , 25 , "Male" , 132456)
student.age = 26
student.introduce()
#student.study("Python")

"Hi, my name is Mohamed, I'm 26 years old."

In [4]:
class Company:
    def __init__(self, name, revenue, employees):
        self.name = name
        self.revenue = revenue
        self.employees = employees

    def revenue_per_employee(self):
        return self.revenue / self.employees if self.employees != 0 else 0

    def __str__(self):
        return f"Company(name={self.name}, revenue={self.revenue}, employees={self.employees})"
    
class MarketResearch:
    def __init__(self):
        self.companies = []

    def add_company(self, company):
        self.companies.append(company)

    def average_revenue(self):
        total_revenue = sum(company.revenue for company in self.companies)
        return total_revenue / len(self.companies) if self.companies else 0

    def average_employees(self):
        total_employees = sum(company.employees for company in self.companies)
        return total_employees / len(self.companies) if self.companies else 0

    def top_revenue_company(self):
        if not self.companies:
            return None
        return max(self.companies, key=lambda company: company.revenue)

    def top_revenue_per_employee_company(self):
        if not self.companies:
            return None
        return max(self.companies, key=lambda company: company.revenue_per_employee())

    def __str__(self):
        return "\n".join(str(company) for company in self.companies)

In [5]:
def main():
    # Create instances of Company
    company1 = Company("TechCorp", 1000000, 50)
    company2 = Company("HealthInc", 2000000, 150)
    company3 = Company("EduSoft", 500000, 20)
    company4 = Company("AutoMotive", 3000000, 200)

    # Create an instance of MarketResearch and add companies to it
    market_research = MarketResearch()
    market_research.add_company(company1)
    market_research.add_company(company2)
    market_research.add_company(company3)
    market_research.add_company(company4)

    # Perform analysis
    print("Market Research Data:")
    print(market_research)

    print("\nAverage Revenue:", market_research.average_revenue())
    print("Average Number of Employees:", market_research.average_employees())
    print("Top Revenue Company:", market_research.top_revenue_company())
    print("Top Revenue per Employee Company:", market_research.top_revenue_per_employee_company())

if __name__ == "__main__":
    main()

Market Research Data:
Company(name=TechCorp, revenue=1000000, employees=50)
Company(name=HealthInc, revenue=2000000, employees=150)
Company(name=EduSoft, revenue=500000, employees=20)
Company(name=AutoMotive, revenue=3000000, employees=200)

Average Revenue: 1625000.0
Average Number of Employees: 105.0
Top Revenue Company: Company(name=AutoMotive, revenue=3000000, employees=200)
Top Revenue per Employee Company: Company(name=EduSoft, revenue=500000, employees=20)